<mat-card  class="car"  appearance="outlined">
  <h1>HOME</h1>
</mat-card>

<div class="container my-sm-3">
<div class="card">
  <div class="card-body">

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="{{url7}}" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item">
    <img src="{{url8}}" class="d-block w-100" alt="...">
  </div>
  <div class="carousel-item">
    <img src="{{url6}}" class="d-block w-100" alt="...">
  </div>
</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
  </div>
</div>
</div>

<br>

<div class="container my-sm-3">
<div class="row">
  <div class="card text-center mb-3" style="width: 18rem;">
    <img src="{{url9}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-text">INICIA SI ERES #HAMBURGUESALOVER</h2>
      <br>
      <div class="container"> <a class="nav-link" routerLink="/login" class="btn btn-danger">Iniciar Sesión</a></div>


    </div>
  </div>
  <div class="card text-center mb-3" style="width: 18rem;">
    <img src="{{url10}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-text">ELIGE TU HAMBURGUESA FAVORITA</h2>
      <div class="container"><a class="nav-link" routerLink="/catalogo" class="btn btn-danger" >Catalogo</a> </div>

    </div>
  </div>
  <div class="card text-center mb-3" style="width: 18rem;">
    <img src="{{url11}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-text">LAS MEJORES PROMOCIONES</h2>
      <br>
      <div class="container"><a class="nav-link" routerLink="/catalogo" class="btn btn-danger">Catalogo</a> </div>

    </div>
  </div>

</div>

</div>
