<mat-card  class="car"  appearance="outlined">
  <h1>FORMULARIO USUARIO</h1>
</mat-card>


<div class="container my-5">
  <mat-card appearance="outlined">

      <mat-card-header>

          <img  mat-card-image src="{{regis}}">


<!--
  <div class="container my-5">
      <form>
 <div class="row">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" [(ngModel)]="newUsuario.usuarioNombre" name="nombre">
</div>
<div class="mb-3">
    <label for="apellido" class="form-label">Apellido</label>
    <input type="text" class="form-control" id="apellido" [(ngModel)]="newUsuario.usuarioApellido" name="apellido">
</div>

<div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input type="email" class="form-control" id="email" [(ngModel)]="newUsuario.usuarioEmail" name="email">
</div>
<div class="mb-3">
  <label for="password" class="form-label">Password</label>
  <input type="password" class="form-control" id="password" [(ngModel)]="newUsuario.usuarioPassword" name="password">
</div>
<div class="mb-3">
  <label for="direccion" class="form-label">Dirección</label>
  <input type="text" class="form-control" id="direccion" [(ngModel)]="newUsuario.usuarioDireccion" name="direccion">
</div>
<div class="mb-3">
  <label for="telefono" class="form-label">Telefono</label>
  <input type="text" class="form-control" id="telefono" [(ngModel)]="newUsuario.usuarioTelefono" name="telefono">
</div>
<div class="mb-3">
  <label for="estado" class="form-label">Estado</label>
  <div class="d-flex align-items-center">
      <input type="checkbox" id="estado" [(ngModel)]="newUsuario.usuarioEstado" name="estado">
      <label for="estado" class="form-check-label ms-2">Activo</label>
  </div>
</div>


 </div>




        </form>
        <br>
            <div align="right">

              <a routerLink="/login" type="submit"   class="btn btn-outline-success mb-2" (click)="addUsuario()">
                GUARDAR
              </a>
              <a routerLink="/usuario" type="submit"   class="btn btn-outline-primary mb-2">
                VER USUARIOS
              </a>
              <a routerLink="/login" type="submit"   class="btn btn-outline-danger mb-2">
                CANCELAR
              </a>
          </div>






  </div>
-->
  </mat-card-header>
      <mat-card-content>

      </mat-card-content>

  </mat-card>

</div>


