.car{
  background-color: red;
  color: white;
  display: flex;
  border: none;
  border-radius: 0;
  text-align: center;
 }
  .h1{
   text-align: center;
  }
/* Estilos para el título */
.container h2 {
  font-size: 2rem; /* Tamaño de fuente del título */
  font-weight: bold; /* Negrita */
  text-transform: uppercase; /* Capitalizar */
  color: #007bff; /* Color del texto */
  margin-bottom: 20px; /* Espacio inferior del título */
  text-align: center; /* Centrar el texto */
}

/* Estilos para el contenedor principal */
.container-informacion {
  padding: 20px;
  background-color: #f8f9fa; /* Color de fondo */
  border-radius: 0.5rem; /* Bordes redondeados */
  border: 1px solid #ddd; /* Borde */
}

/* Estilos para el contenedor del dashboard */
.container-dashboard {
  padding: 30px; /* Espacio en todos los lados del contenedor */
  background-color: #f8f9fa; /* Color de fondo */
  border-radius: 0.5rem; /* Bordes redondeados */
  border: 1px solid #ddd; /* Borde */
}

/* Estilos para las cajas del dashboard */
.dashboard-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #fff;
  background-color: #343a40; /* Color de fondo */
  border-radius: 0.5rem; /* Bordes redondeados */
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.dashboard-box .icon {
  font-size: 40px;
  margin-right: 20px;
}

.dashboard-box .info {
  text-align: right;
}

/* Estilos para la tabla */
.table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden; /* Oculta el desbordamiento para bordes redondeados */
}

.table th, .table td {
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  text-align: center;
}

.table thead th {
  background-color: #007BFF; /* Color de fondo de encabezado */
  color: #fff; /* Color del texto */
  border-top: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}

.table tbody tr:hover {
  background-color: #f1f1f1; /* Color de fondo al pasar el ratón */
}

/* Estilos para la tarjeta (card) */
.card {
  border-radius: 0.5rem; /* Bordes redondeados */

}

/* Estilos para el botón de éxito (btn-success) */
.btn-success {
  border-radius: 0.25rem; /* Bordes redondeados */
}
